/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 */

@import "rails_bootstrap_forms";
@import "bootstrap-sprockets";
@import "bootstrap";


.user-card {
  display: inline-block;
  background-color: #ff9900;
}

.pass-button {
  float: left;
  background-color: darkred;
  border-color: #60BFBF;
  padding-right: 2em;
}

.pair-button {
  float: right;
  background-color: darkgreen;
  border-color: #94902d;
  padding-left: 2em;
}

.match-lang {
  display: inline-block;
}

.match-image {
  float: left;
  max-width: 400px;
}

.match-info {
  float: right;
}

.container-home {
  background-color: #59571b;
  min-height: 100vh;
  padding-top: 10vh;
  text-align: center;
}

.home {
  color: white;
  font-weight: 100;
  font-size: 100;
}

h1.home {
  font-size: 60px;
  color: white;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  color: #60BFBF;
  font-weight: 100;
  border-color: #60BFBF;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

img.img-circle.img-thumbnail.home-image {
  height: 200px;
}
